@charset "UTF-8";


body{
	font-family: Arial, sans-serif;
    background-color: #dc143c;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    padding: 20px;
    
}



.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    padding: 20px;
    
    

}



.card{
    
    border-radius: 13px;
    width: 25rem;
    height: 17rem;
    font-size: 1.2rem;
    font-weight: 580;
    background-color: #fdf1f0;
    box-shadow: 0 0 7px rgb(255, 221, 226);
    transition: all 0.4s linear;
    
}

.card:hover{
    transform: scale(1.05);

}


.card-heading{
    
    font-size: 1.6rem;
    background-color: rgba(251, 83, 83, 0.2);
    color: black;
    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    padding: 7px;
    border-radius: 8px;
    
}









.donor-details-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5rem 1.5rem;
    text-align: left;
    margin: 0 auto;
    width: 80%;
}

.donor-details-grid .label {
    font-weight: 600;
    text-align: right;
    padding-right: 0.5rem;
    color: black;
}

.donor-details-grid .value {
    text-align: left;
    color: black;
}




